.multi-step-form {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
}

.data-step {
  position: absolute;
    width: 50vw;
    min-width: 200px;
    background-color: white;
    border: 1px solid #333;
    border-radius: 0.5rem;
    padding: 0.5rem;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    animation: slideIn 1s ease-in-out forwards;
    align-items: center;
}

.step-title {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
}

.data-step button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 0rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    align-self: stretch;
    margin-top: 3rem;
    height: 5vh;
  }

  .disappear {
    animation: fadeOut 250ms ease-in-out forwards;
    display: hidden;
  }

  @keyframes slideIn {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
  }

  @keyframes fadeOut {
    0% {
        transform: scale(1);
        opacity: 1;
      }
      50% {
        transform: scale(.75);
        opacity: 0;
      }
      100% {
        opacity: 0;
        transform: scale(0);
      }
  }

  .reg-nav {
    margin-top: 3rem;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .reg-nav button {
    width: 50%;
    margin:1px;
  }

  .error-alert {
    height: auto;
    padding: 1vh;
    font-family: sans-serif;
    font-weight: 400;
    background-color: #FEE;
    border: 1px solid #EDD;
    color: #A66;
    text-align: center;
  }

  .alert-close {
    float: right;
    background-color: transparent;
    margin:0px;
    padding: 0px;
  }

  .hide {
    display: none;
  }

  .input-div {
    margin-top: 1vh;
    width: inherit;
    margin-left: 1vw;
    display: flex;
    flex-direction: row;
  }

  .input-div > label {
    margin-left: 2vw;
    width: 15vw;
    min-width: 50px;
    text-align: center;
    margin: auto;
  }

  .input-div > input {
     width: 30vw;
     margin: auto;
  }

 