.reset-Form {
    position: absolute;
    top: 20vh;
    left: 25vw;  /*from left edge of parent to left margin*/
    text-align: center;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 5vh 10vw;
    box-sizing: border-box;
    width: 50vw;
}

.reset-Form > h3 {
    font-size: 1.5rem;
    margin-bottom: 4vh;
    margin: 0px;
    margin-bottom: 1vh;
}

.reset-Form > label {
    margin-right: 1vw;
}

.reset-Form > button {
    margin-top: 0.5rem;
    border-radius: 15px;
    border: 0.5px solid black;
}

.reset-Form > button:hover {
    background: lightgray; 
}

.resetImg {
    height: 10vh;
    width: 10vw;
    margin-bottom: 2vh;
}