.header{
  text-align: center;
}
.title{
  text-align: center;
}
.login, .register {
    /* font-family: sans-serif; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: white ;
  } 
label {
  text-align: left;
  padding: 0.25rem 0;
}
  input {
    margin: 0.5rem 0;
    padding: 1rem;
    border:none;
    border-radius: 10px;
  }

  button {
    border: none;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }

  hr {
    border: 1;
    clear:both;
    display:block;
    width: 100%;               
    background-color:grey;
    height: 1px;
  }

.link-btn {
  background: none;
  color: red;
  text-decoration: underline;
}

  .login-style-form {
    display: flex;
    flex-direction: column;
  }
  
  .register-style-form{
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="name"],
  input[type="password"] {
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
  }
  
  input[type="submit"]:hover {
    background: #6cf0c2;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }

  .tasklist-container{
    width: 95%;
    margin: auto;
  }

  .table-bordered {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.other-login-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 15rem;
}

.other-login-container > button {
  width: 5rem;
  height: 3.5rem;
  width: 3.5rem;
  padding: 0;
}

.other-login-container > h2 {
  font-size: 1.1rem;
  margin: 20px;
}

.other-login-container > button > img {
  height: inherit;
  width: inherit;
  background-color: white;
}

/*
firebase code
.verificationTag {
  height: 5rem;
  background-color: #c06572;
  border-radius: 1rem;
  border: 0.3rem black dotted;
  transition: border-width 0.5s linear;
}

.verificationTag:hover {
  border-width: 0.6rem;
}
*/
.ads {
  display: flex;
  justify-content: center;
  background-image: url("../assets/cuteduck3.png");
  color: white;
  background-size: fill;
  height: 100vh;
}

.taskListPage {
  background-color: #f5f5f5;
  width: auto;
  margin: 0 auto;
  padding: 2;
  height: 100vh;
  /* box-shadow: 0px 10px 15px lightblue, inset 0px 10px 5px lightblue; */
  
}

.list {
  color: #555;
  font-size: 22px;
  padding: 0 !important;
  /* width: 500px; */
  /* width: 100vh; */
  height: 100vh;
  font-family: courier, monospace;
  font-weight:bold ;
  border: 1px solid #dedede;
  
  
}

.list li {
  list-style: none;
  border-bottom: 2px dotted #ccc;
  
  /* text-indent: 25px; */
  text-indent: 2rem;
  /* font-size: 1rem; */
  height: auto;
  padding: 10px;
  text-transform: capitalize;
  column-count: 4;
  column-gap:normal;
  position: relative;
  right: 1.5rem;
  /* overflow-wrap:break-word; */
  word-break: break-all;
  /* font-size: 1vw;  */
  font-size: calc(3px + 0.7vw); 
}
/* .list li:hover {
  background-color: #f0f0f0;
  -webkit-transition: all 0.2s;
  -moz-transition:    all 0.2s;
  -ms-transition:     all 0.2s;
  -o-transition:      all 0.2s;
} */
.lines {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 8px;
  float: left;
  height: 90vh;
  /* margin-left: 40px; */
  margin-left: 3rem;
  
}

/* .previewPicture {
  position: relative;
  left: 40%;
  border-radius: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
filter: 
} */

.resizing {
  font-size: calc(3px + 0.7vw); 
}


.setting-header{
  padding-top: 5vh;
  padding-bottom: 0vh;
  /* align-items: center; */

}

.setting-header-subgroups{
  font-size: 3vh;
  /* position:relative; */
  display: flex;
  align-items:end; /* vertical centering if flex-direction: row */

}

.setting-header-text{
  background-color:rgb(162, 162, 162);
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  text-decoration: none;
  color:grey;
    font-size: 3vh;
      display: flex;
  align-items:end
}

.setting-body {
  /* background-color: rgb(192, 187, 248); */
  background-color: lightgrey;
  padding-top: 1%;
  border-radius: 30px;
  width: 100%;
  height: 100vh;
  font-size:2vh ;
  font-weight: bold;
}

.setting-body-row {
  padding: 5px;
}
