.side-bar {
    height: 100vh;
    background-color: white;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    font-size: 1.5vh;
    transition: 0.5s;
    z-index: 2;
}

.username {
    font-weight: bold;
}

.collapse-button {
    text-align: right;
    height: 5%;
    font-size: 1.5rem;
    line-height: 50%;
    background-color: rgb(165, 246, 165);
}

.currentUserInfo {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 40% 30% 30%;
    height: 15%;
    background-color: rgb(165, 246, 165);
}

.currentUserInfo > .username {
    grid-area: 1 / 1 / 2 / 2;
    padding-left: 10%;
    font-size: 1.5rem;
}

.currentUserInfo > .uid-info {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x:hidden;
}

.currentUserInfo > button {
    grid-area: 2 / 2 / 3 / 3;
    padding: 0px;
    background-color: transparent;
}

.currentUserInfo > form {
    grid-area: 3 / 1 / 4 / 3;
}

.currentUserInfo > button > img {
    padding: 20%;
    padding-top: 0px;
    padding-bottom: 2px;
}

.currentUserInfo > form > .input-field {
    height: 100%;
    width: 90%;
    padding: 0px;
    padding-left: 5%;
    font-size: 1rem;
    margin:0px; 
    vertical-align: top;
    border-radius: 0px;
}

.currentUserInfo > form > button {
    grid-area: 3 / 2 / 4 / 3;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.currentUserInfo > form > button > img {
    object-fit:  center;
    padding: 10%;
    z-index: 2;
}

.currentUserInfo > form > .error-message {
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 5;
    color: black;
    background-color: #FFCCCC ;
    border: 1px solid red;
    font-weight: bold;
}

.friendList {
    height: 85%;
    width: 100%;
    overflow-y: scroll;
}

.userBox {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border: 1px solid gray;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    overflow-y: scroll;
}

.userBox > .username {
    font-size: 1.5rem;
    padding-left: 10%;
    grid-area: 1 / 1 / 2 / 2;
}

.userBox > button {
    grid-area: 1 / 2 / 3 / 3;
    background-color: transparent;
    margin: 20%;
    border: 2px solid black;
    border-radius: 20px;
    opacity: 0;
    transition-duration: 0.5s;
}

.userBox > button > img {
    scale: 2.5;
    opacity: 0;
}

.userBox:hover > button {
    opacity: 1;
    transition-duration: 0.5s;
}

.userBox:hover > button > img {
    opacity: 1;
}

.userBox > .user-currentTask {
    padding-left: 10%;
    grid-area: 2 / 1 / 3 / 2;
    font-size: 1rem;
}

.button-submit {
    display: inline-block;
    width: 10%;
    height: 100%;
    padding: 0px;
    vertical-align: top;
}

.button-submit > img {
    height: 100%;
    width: 100%;
}

.uid-info {
    font-size: 0.8rem;
    height: 3vh;
}

.uid-info > div {
    vertical-align: top;
    height: 100%;
    width: 80%;
    overflow-x: scroll;
    display: inline-block;
}

.uid-info > button {
    vertical-align: top;
    width: 3vw;
    margin-left: 2vw;
    height: inherit;
    padding: 0;   
}
.uid-info > button > img {
    vertical-align: top;
    height: 100%;
    width: 100%;
}
